html,
body {
  height: 100%;
}

body {
  background: $c-blue-dark url("../assets/background-stars.svg") center;
  position: relative;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}
