.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-d-c {
    flex-direction: column;
  }
}

.bg {
  background-color: $c-white;

  &--mercury {
    background-color: $c-mercury;
  }

  &--venus {
    background-color: $c-venus;
  }

  &--earth {
    background-color: $c-earth;
  }

  &--mars {
    background-color: $c-mars;
  }

  &--jupiter {
    background-color: $c-jupiter;
  }

  &--saturn {
    background-color: $c-saturn;
  }

  &--uranus {
    background-color: $c-uranus;
  }

  &--neptune {
    background-color: $c-neptune;
  }
}

body.hamburger-menu-open {
  overflow: hidden;
}
