// TYPOGRAPHY
$font-antonio: "Antonio", sans-serif;
$font-spartan: "Spartan", sans-serif;

$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

// COLORS
$c-white: #ffffff;
$c-blue-dark: #070724;
$c-gray: #38384f;
$c-gray-light: #838391;
$c-turquoise: #419ebb;
$c-yellow-orange: #eda249;
$c-purple: #6f2ed6;
$c-red-1: #d14c32;
$c-red-2: #d83a34;
$c-red-3: #cd5120;
$c-green-aqua: #1ec2a4;
$c-blue: #2d68f0;

// COLORS SPECIFIC TO PLANETS
$c-mercury: #def4fc;
$c-venus: #f7cc7f;
$c-earth: #545bfe;
$c-mars: #ff6a45;
$c-jupiter: #ecad7a;
$c-saturn: #fccb6b;
$c-uranus: #65f0d5;
$c-neptune: #497efa;

// LINK COLORS SPECIFIC TO PLANETS
$c-link-mercury: $c-turquoise;
$c-link-venus: $c-yellow-orange;
$c-link-earth: $c-purple;
$c-link-mars: $c-red-1;
$c-link-jupiter: $c-red-2;
$c-link-saturn: $c-red-3;
$c-link-uranus: $c-green-aqua;
$c-link-neptune: $c-blue;

// PLANETS
$planets: mercury, venus, earth, mars, jupiter, saturn, uranus, neptune;
