.mobile-menu {
  &__item a {
    color: $c-white;
    text-decoration: none;
  }

  .dot {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    &--mercury {
      background-color: $c-mercury;
    }

    &--venus {
      background-color: $c-venus;
    }

    &--earth {
      background-color: $c-earth;
    }

    &--mars {
      background-color: $c-mars;
    }

    &--jupiter {
      background-color: $c-jupiter;
    }

    &--saturn {
      background-color: $c-saturn;
    }

    &--uranus {
      background-color: $c-uranus;
    }

    &--neptune {
      background-color: $c-neptune;
    }
  }
}
