.nav {
  width: 100%;

  @include respond-below("small") {
    display: none;
  }

  &__list {
    max-width: 67rem;
    margin: auto;
  }

  &__item {
    text-transform: uppercase;

    line-height: 2.5rem;

    color: rgba($c-white, 50%);
    font-size: 1.1rem;
    font-weight: $font-bold;
    letter-spacing: 1px;
  }
}
