.nav {
  width: 67rem;

  @include respond-below("small") {
    display: none;
  }

  &__list {
    margin: auto;

    @include respond-above("medium") {
      margin: 0;
    }
  }

  &__item {
    text-transform: uppercase;

    line-height: 2.5rem;

    color: rgba($c-white, 50%);
    font-size: 1.1rem;
    font-weight: $font-bold;
    letter-spacing: 1px;
  }
}
