.nav {
  width: 67rem;

  @include respond-below("small") {
    display: none;
  }

  &__list {
    margin: auto;

    @include respond-above("medium") {
      margin: 0;
    }
  }

  &__item {
    text-transform: uppercase;

    line-height: 2.5rem;

    color: rgba($c-white, 50%);
    font-size: 1.1rem;
    font-weight: $font-bold;
    letter-spacing: 1px;
  }
}

.nav__link {
  position: relative;

  @include respond-above("small") {
    &::after {
      content: "";
      position: absolute;
      height: 0.4rem;
      background-color: white;
      bottom: -3.4rem;
      pointer-events: none;

      left: 50%;
      right: 50%;
      transition: 0.16s all 0.025s;
    }

    &:hover::after {
      left: 0;
      right: 0;
    }
  }

  @include respond-above("medium") {
    &::after {
      top: -3.8rem;
      bottom: auto;
    }
  }

  &.selected {
    color: $c-white;

    &::after {
      left: 0;
      right: 0;
    }
  }

  &:hover {
    cursor: pointer;
    color: $c-white;
  }

  &--mercury {
    &::after {
      background-color: $c-link-mercury;
    }
  }

  &--venus {
    &::after {
      background-color: $c-link-venus;
    }
  }

  &--earth {
    &::after {
      background-color: $c-link-earth;
    }
  }

  &--mars {
    &::after {
      background-color: $c-link-mars;
    }
  }

  &--jupiter {
    &::after {
      background-color: $c-link-jupiter;
    }
  }

  &--saturn {
    &::after {
      background-color: $c-link-saturn;
    }
  }

  &--uranus {
    &::after {
      background-color: $c-link-uranus;
    }
  }

  &--neptune {
    &::after {
      background-color: $c-link-neptune;
    }
  }
}
