.header {
  color: $c-white;
  padding: 1.6rem 2.4rem;
  border-bottom: rgba($c-white, 20%) 1px solid;

  @include respond-above("small") {
    flex-direction: column;
    padding: 2.7rem 0rem;
  }

  @include respond-above("medium") {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2.2rem 3.2rem;
  }

  .logo {
    font-size: 2.8rem;
    letter-spacing: -1.05px;
    text-transform: uppercase;
    font-family: $font-antonio;
    font-weight: $font-medium;

    @include respond-above("small") {
      margin: auto;
      margin-bottom: 3.9rem;
    }

    @include respond-above("medium") {
      margin: 0;
    }
  }

  .hamburger-button {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    transition: opacity 0.2s linear;
    cursor: pointer;

    @include respond-above("small") {
      display: none;
    }

    span {
      position: absolute;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $c-white;
      border-radius: 15%;

      transition: 0.25s ease-in-out;
    }

    span:nth-child(1) {
      top: 3.5px;
      transform-origin: left bottom;
    }

    span:nth-child(2) {
      top: calc(50% - 1.5px);
    }

    span:nth-child(3) {
      top: calc(2.4rem - 6.5px);
      transform-origin: left top;
    }

    &.open {
      opacity: 25%;

      span:nth-child(1) {
        transform: rotate(45deg);
        top: 2px;
        left: 2px;
      }

      span:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg);
        top: 19px;
        left: 2px;
      }
    }

    &.disabled {
      pointer-events: none;
    }
  }
}

.hamburger-menu {
  background-color: $c-blue-dark;
  width: 100%;
  padding-bottom: 4.8rem; // why? (margin-top + padding)?

  position: fixed;
  left: 0;
  z-index: 1;
  overflow-y: auto;

  transition: height 0.4s ease-out, opacity 0.3s linear;

  @include respond-above("small") {
    display: none;
  }

  &__list {
    margin-top: 2.4rem;
  }

  &__item {
    height: 6.5rem;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(#979797, 10%);
    }
  }

  &__link {
    color: $c-white;
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2.4rem;

    //TYPOGRAPHY - MOBILE
    font-weight: 700;
    font-size: 1.5rem;

    &:hover,
    &.selected {
      background-color: rgba(#979797, 10%);
    }
  }

  &.collapse {
    &:not(.show) {
      display: none;
    }
  }

  &.collapsing {
    opacity: 0;
    height: 0;
  }
}

// BULLET STYLE
.bullet {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 2.5rem;

  &--mercury {
    background-color: $c-mercury;
  }

  &--venus {
    background-color: $c-venus;
  }

  &--earth {
    background-color: $c-earth;
  }

  &--mars {
    background-color: $c-mars;
  }

  &--jupiter {
    background-color: $c-jupiter;
  }

  &--saturn {
    background-color: $c-saturn;
  }

  &--uranus {
    background-color: $c-uranus;
  }

  &--neptune {
    background-color: $c-neptune;
  }
}
