//SUB-MENU MOBILE VERSION
.sub-menu--mobile {
  width: 100%;
  border-bottom: rgba($c-white, 20%) 1px solid;

  @include respond-above("small") {
    display: none;
  }

  &__list {
    padding: 0rem 2.4rem;

    margin: auto;
  }

  &__item {
    width: 8rem;
    text-align: center;
    line-height: 1rem;
  }

  &__link {
    position: relative;
    display: block;
    padding: 2rem 0rem;

    text-decoration: none;
    text-transform: uppercase;
    color: $c-white;
    opacity: 50%;
    transition: opacity 0.2s ease-out;

    cursor: pointer;

    //TYPOGRAPHY - MOBILE
    font-family: $font-spartan;
    font-weight: $font-bold;
    font-size: 0.9rem;
    letter-spacing: 1.93px;

    &.selected {
      opacity: 100%;

      &::after {
        left: 0;
        right: 0;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 0.4rem;
      // Needs to change dynamically depending on planet

      left: 50%;
      right: 50%;
      transition: 0.16s all 0.025s;
    }

    &.mercury::after {
      background-color: $c-link-mercury;
    }

    &.venus::after {
      background-color: $c-link-venus;
    }

    &.earth::after {
      background-color: $c-link-earth;
    }

    &.mars::after {
      background-color: $c-link-mars;
    }

    &.jupiter::after {
      background-color: $c-link-jupiter;
    }

    &.saturn::after {
      background-color: $c-link-saturn;
    }

    &.uranus::after {
      background-color: $c-link-uranus;
    }

    &.neptune::after {
      background-color: $c-link-neptune;
    }

    &:hover::after {
      left: 0;
      right: 0;
    }
  }
}

//SUB-MENU TABLET + DESKTOP
.sub-menu--tablet {
  display: none;

  @include respond-above("small") {
    display: block;
    flex: 1;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }

  &__link {
    display: block;
    padding: 0.8rem 2rem;
    cursor: pointer;

    border: 1px solid rgba(#d8d8d8, 20%);
    text-transform: uppercase;

    // TYPOGRAPHY - TABLET
    font-size: 0.9rem;
    font-weight: $font-bold;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
    background-color: rgba(#d8d8d8, 0%);
    transition: all 0.25s ease;

    &:hover {
      background-color: rgba(#d8d8d8, 20%);
      border: 1px solid transparent;
    }

    &.selected {
      border: 1px solid transparent;

      &.mercury {
        background-color: $c-link-mercury;
      }

      &.venus {
        background-color: $c-link-venus;
      }

      &.earth {
        background-color: $c-link-earth;
      }

      &.mars {
        background-color: $c-link-mars;
      }

      &.jupiter {
        background-color: $c-link-jupiter;
      }

      &.saturn {
        background-color: $c-link-saturn;
      }

      &.uranus {
        background-color: $c-link-uranus;
      }

      &.neptune {
        background-color: $c-link-neptune;
      }
    }
  }

  .num {
    color: rgba($c-white, 50%);
    margin-right: 1.7rem;
  }
}

.planet {
  max-width: 140rem;
  margin: auto;
  overflow: hidden;
  padding: 0 2.4rem 4.7rem;

  @include respond-above("small") {
    padding: 0 4rem 4.7rem;
  }

  &__flex-container {
    @include respond-above("medium") {
      display: flex;
      align-items: center;
      height: 75.4rem;
    }
  }

  &__img-container {
    position: relative;

    height: 30.4rem;

    @include respond-above("small") {
      height: 46rem;
    }

    @include respond-above("medium") {
      width: 68.5%;
      height: 100%;
    }
  }

  &__img {
    &.mercury {
      max-height: 36.5%;

      @include respond-above("small") {
        max-height: 40%;
      }

      @include respond-above("medium") {
        max-height: 38.5%;
      }
    }

    &.venus {
      max-height: 50.7%;

      @include respond-above("small") {
        max-height: 55%;
      }

      @include respond-above("medium") {
        max-height: 53%;
      }
    }

    &.earth {
      max-height: 56.9%;

      @include respond-above("small") {
        max-height: 62%;
      }

      @include respond-above("medium") {
        max-height: 59.7%;
      }
    }

    &.mars {
      max-height: 42.4%;

      @include respond-above("small") {
        max-height: 46.3%;
      }

      @include respond-above("medium") {
        max-height: 44.6%;
      }
    }

    &.jupiter {
      max-height: 73.7%;

      @include respond-above("small") {
        max-height: 80.2%;
      }

      @include respond-above("medium") {
        max-height: 77.2%;
      }
    }

    &.saturn {
      max-height: 84.2%;

      @include respond-above("small") {
        max-height: 91.7%;
      }

      @include respond-above("medium") {
        max-height: 88.3%;
      }
    }

    &.uranus {
      max-height: 57.9%;

      @include respond-above("small") {
        max-height: 63%;
      }

      @include respond-above("medium") {
        max-height: 60.7%;
      }
    }

    &.neptune {
      max-height: 56.9%;

      @include respond-above("small") {
        max-height: 62%;
      }

      @include respond-above("medium") {
        max-height: 59.7%;
      }
    }
  }

  &__geo-img {
    position: absolute;
    width: auto;
    height: 26.5%;
    top: 60.5%;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 7rem;
    margin-bottom: 2.7rem;

    @include respond-above("medium") {
      display: inline-block;
      width: 31.5%;
    }
  }

  &__info {
    text-align: center;
    flex: 1;

    @include respond-above("small") {
      text-align: left;
    }

    @include respond-above("medium") {
      margin-bottom: 4rem;
    }
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 1.6rem;

    // TYPOGRAPHY - MOBILE
    font-size: 4rem;
    font-weight: $font-medium;
    line-height: 5.2rem;

    @include respond-above("small") {
      margin-bottom: 2.3rem;

      font-size: 4.8rem;
      line-height: 4.8rem;
    }

    @include respond-above("medium") {
      font-size: 8rem;
      line-height: 8rem;
    }
  }

  &__content {
    margin-bottom: 3.2rem;

    // TYPOGRAPHY - MOBILE
    font-size: 1.1rem;
    line-height: 2.2rem;
    font-weight: $font-normal;

    @include respond-above("medium") {
      font-size: 1.4rem;
      line-height: 2.5rem;
      margin-bottom: 2.4rem;
    }
  }

  &__stats {
    gap: 0.8rem;

    @include respond-above("small") {
      width: 100%;
      flex-direction: row;
      gap: 1.1rem;
      margin: auto;
    }

    // @include respond-above("medium") {
    //   margin-top: 8.7rem;
    // }
  }

  &__stat {
    border: 1px solid rgba($c-white, 50%);
    padding: 1.3rem 2.4rem;
    text-transform: uppercase;

    @include respond-above("small") {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.4rem;
      flex: 1;
    }

    @include respond-above("medium") {
      padding: 2rem 2.3rem 3rem;
    }
  }

  &__stat-title {
    color: rgba($c-white, 50%);

    // TYPOGRAPHY - MOBILE
    font-size: 0.8rem;

    @include respond-above("medium") {
      font-size: 1.1rem;
    }
  }

  &__stat-num {
    // TYPOGRAPHY - MOBILE
    font-size: 2rem;
    font-family: $font-antonio;
    font-weight: $font-medium;
    letter-spacing: -0.75px;

    @include respond-above("small") {
      font-size: 2.4rem;
      letter-spacing: -0.9px;
    }

    @include respond-above("medium") {
      font-size: 4rem;
      letter-spacing: -1.5px;
    }
  }
}

.content-source {
  opacity: 50%;
  gap: 0.4rem;

  @include respond-above("small") {
    justify-content: flex-start;
  }

  // TYPOGRAPHY - MOBILE
  font-size: 1.2rem;
  line-height: 2.5rem;
  font-weight: $font-normal;

  a {
    color: $c-white;

    font-weight: $font-bold;
  }
}
