.sub-menu {
  border-bottom: rgba($c-white, 20%) 1px solid;
}

.sub-menu__list {
  padding: 0rem 2.4rem;
}

.sub-menu__item {
  width: 8rem;
  text-align: center;
  line-height: 1rem;

  .sub-menu__link {
    position: relative;
    display: block;
    padding: 2rem 0rem;

    text-decoration: none;
    text-transform: uppercase;
    color: $c-white;
    opacity: 50%;
    font-family: $font-spartan;
    font-weight: $font-bold;
    font-size: 0.9rem;
    letter-spacing: 1.93px;
    transition: opacity 0.2s ease-out;

    &.selected {
      opacity: 100%;

      &::after {
        left: 0;
        right: 0;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 0.4rem;
      // Needs to change dynamically depending on planet
      background-color: #419ebb;
      transition: 0.16s all 0.025s;
    }

    &::after {
      right: 100%;
    }

    &:hover::after {
      left: 0;
      right: 0;
    }
  }
}
